{% extends "base.html" %}

{% block content %}

    <h2 style="color: white">전적 페이지</h2>
    {% for game in games %}
        {% if game.atk_user.id == user.pk or game.dfn_user.id == user.pk %}
            <div style="color: white;"class="game-control">
                <div class="game-player">
                    {{ game.atk_user }} vs {{ game.dfn_user }}
                </div>
                <div class="game-result">
                {% if game.atk_choice and game.dfs_choice %}
                    결과: {{ game.result }}
                {% else %}
                    {% if game.atk_user.id == user.id %}
                        결과: {{ game.result }}
                    {% elif game.dfn_user.id == user.id %}
                        <a href="{% url 'rps_compete' game.pk %}">대응하기</a>
                    {% endif %}
                {% endif %}
                </div>
                <a href="{% url 'rps_detail' game.pk %}" type="button">
                    게임 결과
                </a>
            </div>
        {% endif %}

    {% endfor %}

{% endblock %}